
.codex
tmp
model_zoo
icons

.DS_Store
/data/
saved_images/
*.egg-info

Thumbs.db

.vscode/
.idea/

*.pyc
*.pyo
__pycache__/

*.log

*.swp
*.swo
*.whl

# build artifacts
**/build/
**/dist/
**/*.so
**/*.egg
**/*.o
**/*.a
**/*.dll
**/*.dylib
**/.ninja_deps
**/.ninja_log