[submodule "GN-Bench-Tools"]
	path = GN-Bench-Tools
	url = https://github.com/TeleHuman/GN-Bench-Tools.git
[submodule "submodules/fused-ssim"]
	path = submodules/fused-ssim
	url = https://github.com/rahul-goel/fused-ssim.git
[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://github.com/camenduru/simple-knn.git
[submodule "submodules/diff-gaussian-rasterization"]
	path = submodules/diff-gaussian-rasterization
	url = https://github.com/TeleHuman/diff-gaussian-rasterization.git
