ninja
jaxtyping

transformers>=4.57.1,<5.0
accelerate>=1.2.1

numpy
scipy
pyarrow>=14.0.0

opencv-python>=4.8.0
pillow>=10.0.0
tqdm>=4.65.0
rich>=13.0.0
debugpy
tensorboard
msgpack>=1.0.0
websockets>=12.0
